.weatherApp{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.weatherAppBox{
    background-color: rgb(234, 236, 238);
    padding: 5%;
    margin: 1rem;
}

.hidden{
    display: none;
}

.weatherBox{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.weatherStats{
    margin:3rem;
    flex-direction: row;
    display: flex;
}

.weatherRow{
    background-color: rgb(234, 236, 238);
    border-radius: 20%;
    border-color: rgb(202, 203, 204);
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.weatherCard{
    display: flex;
    background-color: rgb(234, 236, 238);
    border-radius: 10%;
    border-color: rgb(219, 217, 217);
    width: 100%;
    height: 100%;
}